# Git
.git
.gitignore

# Docker
*/.docker
*/Dockerfile
*/docker-compose.yml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/

# IDE files
.idea
.vscode
*.swp
*.swo

# Local development
.env.local
.env.dev
.env.prod
*.sqlite3
staticfiles/
media/

# Logs
*.log
